  <%= render 'shared/backoffice/default_form' do |f| %>
  <div class="col-sm-12 col-md-9 col-lg-6 offset-lg-3">
    <%= render 'shared/backoffice/components/forms/attachment',
               f:,
               attachment_for: :logo,
               attachment: @object.logo %>
    <div class="col-12">
      <%= f.label :name, class: 'form-label' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-12">
      <%= f.label :domain, class: 'form-label' %>
      <%= f.text_field :domain, class: 'form-control' %>
    </div>
    <div class="col-12 ">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, class: 'form-control', placeholder: t('backoffice.form.email_placeholder') %>
    </div>
    <%= f.fields_for :organization_profile do |nested_form| %>
      <%= nested_form.hidden_field :id, value: nested_form.object&.id %>
      <%= nested_form.hidden_field :organization_id, value: nested_form.object&.organization_id %>
      <div class="col-12">
        <%= nested_form.label :slogan, class: 'form-label' %>
        <%= nested_form.text_field :slogan, class: 'form-control' %>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= nested_form.label :about, class: 'form-label' %>
        <%= nested_form.rich_text_area :about, class: 'form-control' %>
      </div>
    <% end %>
    <%= render 'shared/backoffice/components/forms/access_control_form', form: f %>
  </div>
<% end %>
