<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= t('devise.title') %>
    </title>
    <%= render partial: '/shared/favicon' %>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Business Manager - Admin">
    <meta name="author" content="Guilherme Caixeta">
    <meta name="keyword" content="Management,Product,Dashboard">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'authentication', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags 'backoffice' %>
  </head>
  <body>
    <main class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
      <%= yield %>
    </main>
  </body>
</html>
